.graficoContainer {
  background: #0000002b;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  position: relative;
  overflow: visible !important;
  margin: 30px auto auto auto;
  transition: all 0.3s ease-in-out;
  /* Suaviza a transição ao esconder */
}

.tipoGrafico {
  width: 100%;
  height: 100%;
  max-height: 250px;
  position: relative;
  border-radius: 8px;
  top: -50px;
  margin-bottom: -50px;
}

@media (max-width: 600px) {
  .tipoGrafico {
    max-height: 300px;
    /* Reduz a altura no mobile */
  }
}

.highcharts-figure {
  width: 100%;
}

.highcharts-data-table table {
  width: 100%;
  max-width: 100%;
  margin: 10px auto;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media (max-width: 1280.9px) {
  .graficoContainer {
    width: 300px !important;
  }
}

@media (max-width: 1000.9px) {
  .graficoContainer {
    width: 260px !important;
  }
}

@media (max-width: 767.9px) {
  .graficoContainer {
    width: 400px !important;
  }
}

@media (max-width: 450px) {
  .graficoContainer {
    width: 270px !important;
  }
}


.collapse-checkbox {
  display: none;
}

.collapse-checkbox:checked+label+.graficoContainer {
  display: none;
  /* Esconde a div quando o checkbox está marcado */
}

.collapse-btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: var(--colapse-color);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 270px;
}

.collapse-btn:hover {
  background-color: color-mix(in srgb, var(--colapse-color) 80%, transparent);
}